#root {
    max-width: 1920px;
    padding: 2rem;
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 50px;
    margin-right: auto;
    margin-left: auto;
}

.flex {
    display: flex;
}

.column {
    flex-direction: column;
    margin-right: 30px;
}

header {
    position: absolute;
    top: 20px;
    left: 50px;
}

.item {
    border-top: 1px solid #000;
    padding-top: 20px;
}

.red {
    color: red;
    margin-right: 10px;
    margin-bottom: 10px;
    font-size: 20px;
}

.green {
    color: green;
    margin-left: 10px;
    font-size: 20px;
}

.button-group {
    margin-top: 10px;
}
