#root {
    max-width: 1920px;
    margin: 0 auto;
    padding: 2rem;
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.flex {
    display: flex;
}

.column {
    flex-direction: column;
    margin-right: 30px;
}

.period {
    padding-bottom: 20px;
    border-bottom: 1px solid black;
}

.red {
    color: red;
    margin-right: 10px;
    margin-bottom: 10px;
    font-size: 20px;
}

.green {
    color: green;
    margin-left: 10px;
    font-size: 20px;
}

.button-group {
    margin-top: 10px;
}
